<footer class="footer bg-light">
    
      
        <div class="container">
         <div class="row">
                 <div class="container">
                         <span class="text-muted">
                          Subscribe to our newsletter
                         </span>
                         <form class="d-flex">
                          <input aria-label="Email" class="form-control me-2" placeholder="Email address" type="email"/>
                          <button class="btn btn-outline-secondary" type="submit">
                           Subscribe
                          </button>
                         </form>
                        </div>   
          <div class="col-12 footer">
           <h2>
                首頁 | 網站地圖 | 聯絡我們
           </h2>
           <p>
                沙巴第一中文網站，照顧來自香港台灣和其他的華人朋友
           </p>
           <img alt="Tourism Malaysia logo" height="50" src="../../assets/malaysia_tourism.svg" width="100"/>
           <img alt="NATAS logo" height="50" src="../../assets/matta.svg" width="100"/>
           <img alt="TripAdvisor logo" src="../../assets/tripadvisor.svg"/>
           <img alt="Sabah Tourism logo" height="50" src="../../assets/sabah_tourism.png" width="100"/>
           
           <p>
            ©2008-2022 sabahyou.com. Email: info&#64;sabahyou.com
           </p>
          </div>
         </div>
        </div>
       
     
          <!--subscribe-->
          <footer class="footer mt-4 py-3 bg-light">
            
           </footer>
    
   </footer>
