<footer class="footer bg-light">
    
      
        <div class="container">
         <div class="row">
                 <div class="container">
                         <span class="text-muted">
                          Subscribe to our newsletter
                         </span>
                         <form class="d-flex">
                          <input aria-label="Email" class="form-control me-2" placeholder="Email address" type="email"/>
                          <button class="btn btn-outline-secondary" type="submit">
                           Subscribe
                          </button>
                         </form>
                        </div>   
          <div class="col-12 footer">
           <h2>
            全国 | 选择地区 | 网络支付
           </h2>
           <p>
            沙巴第一中文网站，照顾来自全港和其他的菲人朋友
           </p>
           <img alt="Tourism Malaysia logo" height="50" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-DR25bb3N7s78PV3fRyTj0ki3.png?st=2024-05-10T09%3A48%3A02Z&amp;se=2024-05-10T11%3A48%3A02Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-05-10T10%3A38%3A28Z&amp;ske=2024-05-11T10%3A38%3A28Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=vWdV7LT8MK/slY2UkbCMGp8XXk8eT17PHkY5CG7eRao%3D" width="100"/>
           <img alt="NATAS logo" height="50" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-fvexyMfn5UEhFTnHUheb8tXU.png?st=2024-05-10T09%3A48%3A05Z&amp;se=2024-05-10T11%3A48%3A05Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-05-09T12%3A59%3A40Z&amp;ske=2024-05-10T12%3A59%3A40Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=MYsBMZA3ppB7mD4kwD7vLj0FHTpZdvv8IKCizjzQ%2Buk%3D" width="100"/>
           <img alt="TripAdvisor logo" src="https://placehold.co/100x50"/>
           <img alt="Sabah Tourism logo" height="50" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-7Y2N4mxpGFKVZeiRkNtnFF0z.png?st=2024-05-10T09%3A48%3A06Z&amp;se=2024-05-10T11%3A48%3A06Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-05-09T22%3A26%3A28Z&amp;ske=2024-05-10T22%3A26%3A28Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=8u1hb9LV%2BZtaGlS%2BpPx13YSEGacQzVxEXx1lI1PbF0g%3D" width="100"/>
           
           <p>
            ©2008-2022 sabahyou.com. Email: info&#64;sabahyou.com
           </p>
          </div>
         </div>
        </div>
       
     
          <!--subscribe-->
          <footer class="footer mt-4 py-3 bg-light">
            
           </footer>
    
   </footer>
