<div class="blog">
  <div class="blog-part is-menu">
    <a class="blog-menu navbar-cursor" (click)="scrollToOne()">認識沙巴</a>
    <a class="blog-menu navbar-cursor" (click)="scrollToTwo()">計劃行程</a>
    <a class="blog-menu navbar-cursor" (click)="scrollToThree()">出遊準備</a>
    <a class="blog-menu navbar-cursor" (click)="scrollToFour()">專業服務</a>
    <a class="blog-menu navbar-cursor" (click)="scrollToWindowBottom()">馬上訂閱</a>
    <a class="blog-menu subscribe navbar-cursor" (click)="navigateToContactPage()">聯絡我們</a>
  </div>
  <div class="blog-header blog-is-sticky" #containerTitle>
    <div class="blog-article header-article">
      <div class="blog-big__title">來吧</div>
      <div class="blog-menu rounded small-title">JOIN NOW</div>
    </div>
    <div class="blog-article page-number">NO. 01</div>
  </div>
  <div class="blog-header-container">
    <div class="blog-header">
      <div class="blog-article header-article">
        <div class="blog-big__title" #blogHeaderContainerTitleOne>認識沙巴</div>
        <div class="blog-menu small-title date">KNOW ABOUT SABAH</div>
      </div>
      <div class="blog-article">
        <img src="../../assets/knowAboutSabah.jpg" alt="knowAboutSabah" />
        <div class="blog-detail">
          <h2><span>沙巴</span> 歡迎您</h2>
          <!-- <span>By Richard Carnation</span> -->
          <span>5 Min Read</span>
        </div>
        <p>
          沙巴這個地方，是大自然生態的寶庫：這裡有世界前五名的潛水天堂--西巴丹島，四億年的神山熱帶雨林，美麗的陽光沙灘，環繞珊瑚礁的外島，珍貴的動植物，繽紛的部落市集。</p>

        <p>如果您崇尚休閒，沙巴就是一個美麗的決定！沙巴--絕對休閒！</p>

        <p>沙巴這個地方，可以一次過滿足您各種運動、刺激和健身的細胞。</p>

        <p>在沙巴您可以在小島暢游和潛水，玩風帆、水上電單車，玩白水激流泛舟，或是打高爾夫球。喜愛征服高山的人，沙巴這裡也有世界自然遺產--神山，和世界最高的Via Ferrata--高山鐵索行。</p>

        <p>如果您崇尚運動健身，沙巴就是一個美麗的決定！沙巴--絕對刺激！</p>

        <p>來沙巴玩吧！沙巴歡迎您！
        </p>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right"
            viewBox="0 0 24 24">
            <path d="M15 10l5 5-5 5" />
            <path d="M4 4v7a4 4 0 004 4h12" />
          </svg>
          See More
        </a>
      </div>
    </div>
    <div class="blog-header">
      <div class="blog-article header-article">
        <div class="blog-big__title" #blogHeaderContainerTitleTwo>計劃行程</div>
        <div class="blog-menu small-title date">TRAVEL PLAN</div>
      </div>
      <div class="blog-article">
        <img src="../../assets/SabahTravelPlan.jpeg" alt="SabahTravelPlan" />
        <div class="blog-detail">
          <h2><span>由您設計您的沙巴行程</span></h2>
          <!-- <h2>Talking About <span>Vulnerability</span> During Quarantine</h2> -->
          <span>5 Min Read</span>
        </div>
        <form style="margin-top: 16px;">
          <div class="mb-3">
            <label class="form-label">旅遊目的：</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="travel1">
              <label class="form-check-label" for="travel1">休閒娛樂</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="travel2">
              <label class="form-check-label" for="travel2">熱帶島嶼探險</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="travel3">
              <label class="form-check-label" for="travel3">享受美食</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="travel4">
              <label class="form-check-label" for="travel4">運動和休閒</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="travel5">
              <label class="form-check-label" for="travel5">探望親物之旅</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="travel6">
              <label class="form-check-label" for="travel6">購物</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="travel7">
              <label class="form-check-label" for="travel7">休閒娛樂</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="travel8">
              <label class="form-check-label" for="travel8">運動和休閒</label>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">旅行人數：</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="大人">
              <span class="input-group-text">人</span>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="小童(3歲)">
              <span class="input-group-text">人</span>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="嬰兒(3-12歲)">
              <span class="input-group-text">人</span>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">到達日期：</label>
            <input type="date" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">離境日期：</label>
            <input type="date" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">安排住宿：</label>
            <select class="form-select">
              <option selected>未知</option>
              <option value="1">有需求</option>
              <option value="2">無需求</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">接送機：</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="transfer" id="transferYes" value="yes">
              <label class="form-check-label" for="transferYes">需要</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="transfer" id="transferNo" value="no" checked>
              <label class="form-check-label" for="transferNo">不需要</label>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">有來過沙巴？</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="pool" id="poolYes" value="yes">
              <label class="form-check-label" for="poolYes">有</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="pool" id="poolNo" value="no" checked>
              <label class="form-check-label" for="poolNo">沒有</label>
            </div>
          </div>

          <div class="form-section">
            <div class="form-section-header">投稿類別： 請選擇類別：本地旅遊活動</div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option1">
              <label class="form-check-label" for="option1">本土特色體驗(香港馬灣)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option2">
              <label class="form-check-label" for="option2">本土文化公園-九龍城寨公園</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option3">
              <label class="form-check-label" for="option3">玩樂旅行：九龍公園「遊樂場1-2」</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option4">
              <label class="form-check-label" for="option4">玩樂旅行：巴士遊「遊樂場3-4」</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option5">
              <label class="form-check-label" for="option5">香港沙灘派對+導覽團隊活動</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option6">
              <label class="form-check-label" for="option6">本土人食品導覽一日遊</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option7">
              <label class="form-check-label" for="option7">本土人食品導覽一日遊（新手導覽）</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option8">
              <label class="form-check-label" for="option8">本土人食品導覽一日遊（新手導覽）</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option9">
              <label class="form-check-label" for="option9">加旅遊景點PADI潛水中心</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option10">
              <label class="form-check-label" for="option10">本土民宿一日遊</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option11">
              <label class="form-check-label" for="option11">本地加一日遊（導覽、火山民宿訪）</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option12">
              <label class="form-check-label" for="option12">Mari Mari 原住民文化村</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option13">
              <label class="form-check-label" for="option13">本土運輸服務火車站安全之旅</label>
            </div>
          </div>
          <div class="form-section">
            <div class="form-section-header">隨景一夜或以上的遊覽，包含住宿：</div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option14">
              <label class="form-check-label" for="option14">土生族餐廳 (Kapalai) 體驗遊覽</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option15">
              <label class="form-check-label" for="option15">自然生態：京那巴魯雪中門</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option16">
              <label class="form-check-label" for="option16">自然生態遊：海岸區</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option17">
              <label class="form-check-label" for="option17">2日1夜 登攀岩山+Via Ferrata 高度版</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option18">
              <label class="form-check-label" for="option18">2日1夜 登攀岩山+Via Ferrata 加長版</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option19">
              <label class="form-check-label" for="option19">3日2夜 登攀岩山+Via Ferrata 特別版</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option20">
              <label class="form-check-label" for="option20">2日1夜 登攀岩山 普通版</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="option21">
              <label class="form-check-label" for="option21">3日2夜 登攀岩山 普通版</label>
            </div>
          </div>
          <div class="form-section">
            <label for="groupSize" class="form-label">團隊：</label>
            <select class="form-select" id="groupSize">
              <option selected>小團</option>
              <option>中團</option>
              <option>大團</option>
            </select>
          </div>
          <div class="form-section">
            <label for="contactName" class="form-label">我的名稱：</label>
            <input type="text" class="form-control" id="contactName">
          </div>
          <div class="form-section">
            <label for="contactPhone" class="form-label">電話號碼：</label>
            <input type="text" class="form-control" id="contactPhone">
          </div>
          <div class="form-section">
            <label for="contactEmail" class="form-label">電郵：</label>
            <input type="email" class="form-control" id="contactEmail">
          </div>
          <div class="form-section">
            <label for="contactWhatsApp" class="form-label">WhatsApp：</label>
            <input type="text" class="form-control" id="contactWhatsApp">
          </div>
          <div class="form-section">
            <label for="contactLine" class="form-label">LINE：</label>
            <input type="text" class="form-control" id="contactLine">
          </div>
          <div class="form-section">
            <label for="contactWeChat" class="form-label">WeChat：</label>
            <input type="text" class="form-control" id="contactWeChat">
          </div>
          <div class="form-section">
            <label for="notes" class="form-label">備忘：</label>
            <textarea class="form-control" id="notes" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">提交</button>
        </form>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right"
            viewBox="0 0 24 24">
            <path d="M15 10l5 5-5 5" />
            <path d="M4 4v7a4 4 0 004 4h12" />
          </svg>
          See More
        </a>
      </div>
    </div>
    <div class="blog-header">
      <div class="blog-article header-article">
        <div class="blog-big__title" #blogHeaderContainerTitleThree>出遊準備</div>
        <div class="blog-menu small-title date">PREPARETION</div>
      </div>
      <div class="blog-article">
        <img src="../../assets/SabahPreparation.webp" alt="SabahPreparation" />
        <div class="blog-detail">
          <h2><span>出遊三件事：機票、簽證、住宿</span></h2>
          <!-- <span>By Scarlett Witch</span> -->
          <span>5 Min Read</span>
        </div>
        <!-- so many context here -->
        <h2 id="ticket">機票</h2>
        <p>&nbsp;</p>
        <h3>航空公司</h3>
        <p>由香港台灣直航到亞庇有Air Asia，疫情過後，這些國際航班還沒有開始啟動。</p>
        <p>各直航時間約3小時左右，航班時間表有時會更改，出發前請致電航空公司或旅行社確認。 </p>
        <p>由香港前往沙巴時，來回機場稅應已由旅行社代收，不需要另外在機場繳交。 </p>
        <p>航空公司網址：</p>
        <blockquote>
          <p><a href="http://www.airasia.com/" target="_blank">亞航 -- Air Asia</a></p>
        <p><a href="http://www.malaysiaairlines.com/" target="_blank">馬來西亞航空 -- Malaysia Airlines System (MAS)</a></p>
        </blockquote>
        
        <p>&nbsp;</p>
        <h3>亞庇國際飛機場</h3>
        <p> 機場代號：BKI</p>
        <p> 距離亞庇市區8公里，所有的航班使用機場一號(T1)大樓，機場有電訊公司的專櫃，ATM，兌換店，機場計程車櫃臺，快餐廳，郵局等。 </p>
        <blockquote><p> 電話：+6088 238555/219211<br>
          機場網址：<a href="http://www.malaysiaairports.com.my/" target="_blank">www.malaysiaairports.com.my</a></p></blockquote>
        
        <p>&nbsp;</p>
        <h3>馬來西亞入境表格</h3>
        <p> 目前入境馬來西亞已經不需要填寫任何的入境表格。</p>
        <p>&nbsp;</p>
        <h3>入境須知</h3>
        <p>根據馬來西亞海關規定，嚴禁以下物品入口：軍火、毒品、色情物品、珊瑚、各類食人魚、烏龜蛋、可可豆莢等。</p>
        <p>
          馬來西亞海關規定可以攜帶入境的免稅商品為照相機、手錶、鋼筆、錄音機、香水、打火機，香煙200隻、一公升烈酒或紅油或啤酒，以及價值200馬幣以下的化妝品、土產、菲林。遊客如果攜帶地毯、服飾、珠寶、烈性酒、煙草入境時、需要繳納關稅，也可以入境時把物品寄存在海關，離境時取走。
        </p>
        <p>馬來西亞海關規定懷孕20周或以上的孕婦不得入境，懷孕20周以下前往者要醫院開英文適航證明，才能入境馬來西亞。 </p>
        <p>沙巴是半自治州，既使從馬來西亞其他地方進入，也需要再辦理入境手續。 </p>

        <div class="box-alert">
          <p>馬來西亞法律對毒品走私或攜帶處刑非常重，15克以上的毒品走私或攜帶將有可能被判處死刑，千萬別以身試法！一些毒販會利用外國旅客來偷運毒品，所以看好自已的行李別給調包，也不要幫人攜帶行李過關。</p>

        </div>


        <p>&nbsp;</p>
        <h3>網上訂購機票</h3>
        <p></p>
        <p>網路上有許多可以直接訂購機票的網站，很多是由航空公司自己直接經營。以下的網站僅給您參考，請使用前清楚各個網站的用戸協議和服務條款。</p>
        <p>溫馨提示：沙巴哥打京那巴魯的機場稱為哥打京那巴魯國際機場(Kota Kinabalu International Airport)，IATA是BKI。</p>
        <blockquote>
          <p><a href="https://www.airasia.com/" target="_blank">AirAsia</a></p>
          <p><a href="https://www.malaysiaairlines.com/" target="_blank">Malaysia Airline</a></p>
          <p><a href="https://zuji.com/" target="_blank">Zuji.com</a></p>
          <p><a href="https://www.priceline.com/" target="_blank">Priceline.com </a></p>
        </blockquote>
        <p>&nbsp;</p>
        <h2 id="visa">簽證</h2>
        <p>&nbsp;</p>
        <h3>台灣</h3>
        <p>台灣護照旅客可以免簽証到馬來西亞觀光。</p>
        <p>馬來西亞海關入境最新規定:2015年9/15開始，持台灣護照六個月以上有效中華民國護照入馬來西亞觀光由指定的關口入關可免簽證延長到30天，
          所有入境旅客需附上來回電子機票以及要求規定每人每天需具備USD100等同值貨幣(含信用卡)</p>
        <p>&nbsp;</p>
        <h3>香港或澳門</h3>
        <p> 持香港或澳門特區護照毋须簽證停留30天，但要持有出發日起算最少六個月的護照有效期。 </p>
        <p>&nbsp;</p>
        <h3>中國 </h3>
        <p> 可以簽30天個人旅行簽証，需要有效期6個月的護照加2張2寸照片，三天取証，費用80元。馬來西亞支持落地簽証，但必須有第三方簽証，且費用是普通簽証的一倍，因此不建議落地簽。&nbsp; </p>
        <p> 可以到馬來西亞領事館自辦，建議交給旅行社代辦將更省時省錢。</p>
        <blockquote>
          <p> <a href="http://www.tourismmalaysia.cn/visaapply.asp" target="_blank">馬來西亞旅遊局（上海北京廣州成都）</a></p>
        </blockquote>
        
        <p>&nbsp;</p>
        <h3>溫馨提示</h3>
        <p>馬來西亞不接受雙重國籍，建議凡持有多國護照者，一律須辦妥簽證，否則有可能法順利入境或遭遣返，進出馬來西亞務必使用同一本護照。 </p>
        <p>以下訂購住宿的網站僅給您參考，請使用前清楚各個網站的用戸協議和服務條款。</p>
        <p>&nbsp;</p>
        <h2 id="hotel">住宿</h2>


        <p>沙巴的住宿選擇很多，由五星級的豪華渡假村、世界著名連鎖集團的頂級酒店、設備齊全的高爾夫球俱樂部、潛水渡假中心、中價商務酒店、到廉價的背包客旅館和散佈各處的木屋民宿都有，價錢由RM18(HK$40)
          到RM1800(HK$4000)一晚不等，豐儉由人。我們本地人熱情好客，不論是一兩個月長假或週末渡假，都無任歡迎。


        </p>
        <div class="box-doc">
          <p>建議酒店和機票一齊購買，由當地旅行社或航空公司推出的套票是好選擇。不然，住宿安排可以用互聯網(online booking)訂購或找旅行社代辦。本地代理代辦可能要求付現金，比較不方便。</p>
        </div>

        <p>&nbsp;</p>
        <h3>網上訂購住宿</h3>

        <blockquote>
          <p><a href="https://www.holidaycity.com/kotakinabaluhotels/" target="_blank">Holiday City -- Hotels in Kota
              Kinabalu</a></p>
          <p><a href="https://www.agoda.com/asia/malaysia/kota_kinabalu.html" target="_blank">agoda</a></p>
          <p><a href="https://www.travelpod.com/hotels/Kota_Kinabalu.html" target="_blank">Travelpod</a></p>
          <p><a href="https://directrooms.com/malaysia/hotels/kota-kinabalu-hotels/rating1.htm" target="_blank">Direct
              Rooms</a></p>
          <p><a href="http://www.hostelworld.com/index.php?affiliate=sabahyou.com" target="_blank">Hostel World</a></p>
          <p><a href="http://www.asiarooms.com/malaysia/kota_kinabalu.html" target="_blank">Asia Rooms</a></p>
          <p><a href="https://www.sabah-hotels.com/" target="_blank">Sabah Hotels</a></p>
          <p><a href="https://www.tripadvisor.com/Tourism-g298307-Kota_Kinabalu_Sabah-Vacations.html"
              target="_blank">Trip Advisor</a></p>
        </blockquote>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right"
            viewBox="0 0 24 24">
            <path d="M15 10l5 5-5 5" />
            <path d="M4 4v7a4 4 0 004 4h12" />
          </svg>
          See More
        </a>
      </div>
    </div>
    <div class="blog-header">
      <div class="blog-article header-article">
        <div class="blog-big__title" #blogHeaderContainerTitleFour>專業服務</div>
        <div class="blog-menu small-title date">OUR SERVICES</div>
      </div>
      <div class="blog-article">
        <img src="../../assets/SabahServices.jpg" alt="SabahServices" />
        <div class="blog-detail">
          <h2><span>如何預約活動</span></h2>
          <!-- <span>By Scarlett Witch</span> -->
          <span>5 Min Read</span>
        </div>
        <p>&nbsp;</p>
                    <h3 id="onlinebooking">為什麼要網上預約？</h3>
                    <ul class="bullet-1">
                      <li> 給您自由和確定性，抵達後有更多時間玩和玩更多的活動；</li>
                      <li>價格合理，節省比價或找最低價的時間成本；</li>
                      <li> 彈性--如果您想調動行程，由於我們和主辦單位有緊密聯繫，在各方面條件的允許下我們會彈性處理；</li>
                      <li>一些活動有每日人流管制如攀登神山、西巴丹島、海龜島公園等，對walk-in或臨時準備的遊客不利； </li>
                      <li> 活動需要在您抵達前安排準備妥當，譬如深海釣魚的船隻、打高爾夫的發球時間；</li>
                    </ul>
                    
					<p>&nbsp;</p>
                    <h3 id="service_fee">如何收取活動費用？</h3>
                    <p>您可以放心預約，因為我們華人以「誠信」為經營之本，我們儘可能安排您到了沙巴才付活動費用。</p>

				  <p>&nbsp;</p>
                    <h3>如何收取活動費用？</h3>
                  <p>您可以放心預約，因為我們華人以「誠信」為經營之本，我們儘可能安排您到了沙巴才付活動費用。</p>
                    <p>&nbsp;</p>
                    <h3 id="reserve">如何預約？</h3>
                  <p>如果您想預約，請提供您的全名和聯絡電話，我們會準備好詳細接送時間和一位本地活動經理的聯絡電話給您，當您抵達沙巴時，我們彼此聯絡確認您已抵達沙巴，並開始安排活動，到酒店接送您，簡單而又方便。 </p>
                  <p>&nbsp;</p>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right"
            viewBox="0 0 24 24">
            <path d="M15 10l5 5-5 5" />
            <path d="M4 4v7a4 4 0 004 4h12" />
          </svg>
          See More
        </a>
      </div>
    </div>
  </div>
  <div class="blog-part right-blog">
    <marquee width="100%" direction="left">
      <span>用3分鐘的時間</span>
      <span>來計劃一個獨一無二的沙巴旅程</span>
      <span>好好放鬆自己</span>
    </marquee>
    <div class="blog-right-title-container">
      <div class="blog-right-title">相片和影片</div>
      <div class="blog-menu rounded">See All</div>
    </div>
    <div class="blog-right">
      <div class="blog-right-container">
        <div class="blog-title-date">
          <div class="blog-right-page">到馬來西亞沙巴遊</div>
          <!-- <div class="date">12.06.2021</div> -->
        </div>
        <div class="video-container">
          <youtube-player videoId="qvnvNOhXmZM" placeholderImageQuality="standard"></youtube-player>
        </div>
        <div class="blog-right-page-title">最佳旅行目的地2022</div>
        <div class="blog-right-page-subtitle">
          馬來西亞婆羅洲 - 沙巴
        </div>
      </div>
      <div class="blog-right-container">
        <div class="blog-title-date">
          <div class="blog-right-page">沙巴的美食和水果</div>
          <!-- <div class="date">12.06.2021</div> -->
        </div>
        <div class="video-container">
          <youtube-player videoId="kkc7tftaGDc" placeholderImageQuality="standard"></youtube-player>
        </div>
        <div class="blog-right-page-title">來沙巴玩吃很重要</div>
        <div class="blog-right-page-subtitle">
          吃盡1440公里的海岸線海產
        </div>
      </div>
      <div class="blog-right-container">
        <div class="blog-title-date">
          <div class="blog-right-page">我們的朋友 Joey 一個人挑戰神山</div>
          <!-- <div class="date">12.06.2021</div> -->
        </div>
        <div class="video-container">
          <youtube-player videoId="fS18jsp36i8" placeholderImageQuality="standard"></youtube-player>
        </div>
        <div class="blog-right-page-title">
          KINABALU PARK - 世界遺產
        </div>
        <div class="blog-right-page-subtitle">
          一生人要來一次的神山之旅
        </div>
      </div>

      <div class="circle">
        <div class="circle-title">聲明</div>
        <div class="circle-subtitle">

          相片和影片均由會員提供，沙巴遊並沒有責任確認相片之版權問題，如發現有侵犯版權之問題，請聯絡本網以便跟進； 會員請確保所提供的相片和影片沒有侵權，如有關相片和影片引起任何版權問題、損失或法律糾紛，本網站概不負責。
        </div>
        <div class="circle-footer">Always Explore</div>
      </div>
    </div>
  </div>
</div>