/* You can add global styles to this file, and also import other style files */
@media (max-width: 1024px){
    
    .myContainer{
        margin-top: 1rem !important;
        padding: 1rem !important;
        margin: 1rem !important;
    }
}