<div class="p-5 m-4">
   <div class="row">
    <div class="col-md-8" >
     <div class="row">
      
      <div class="col-md-6" *ngFor="let item of galleryItems"  >
        
          <app-gallery 
          [style]="{display: toggleGalleryVisibility}"
          [imageSrc]="item.imageSrc" 
          [imageAlt]="item.imageAlt" 
          [title]="item.title" 
          [description]="item.description" 
          [priceStamp]="item.priceStamp" 
          [category]="item.category"
          (click)="navigateToSpecificParameter(item.imageAlt)"
          *ngIf="toggleGalleryVisibility"
          >
        </app-gallery>
        
      </div>

      <!-- (click)="navigateToSpecificParameter(item.imageAlt)" -->
      
      <!-- Router outlet for child routes -->
      <router-outlet *ngIf="!toggleGalleryVisibility"></router-outlet>
      <!-- <app-gallery-child *ngIf="!toggleGalleryVisibility"></app-gallery-child> -->
      <!-- parent.component.html -->

      
     </div>
    </div>
    <div class="col-md-4">
     <div class="sidebar">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title">
         關於沙巴遊
        </h5>
        <p class="card-text">
          沙巴自由行專家，最大的沙巴本土旅遊活動平台之一，成立于2008年，擁有旅遊公司執照，提供沙巴旅遊資訊，安排沙巴旅遊活動，照顧來沙巴旅遊和沙巴自由行的遊客，讓您玩得開心、玩得放心。
        </p>
       </div>
      </div>
      <!-- badgeData -->
      <div class="card">
       <div class="card-body">
        <h5 class="card-title">
          沙巴實用資料
        </h5>
        <p class="card-text">
         <span class="badge bg-secondary" *ngFor="let badge of badgeItems">
          {{badge.name}}
         </span>
         
        </p>
       </div>
      </div>
      <!-- noteData -->
      <div class="card">
       <div class="card-body">
        <h5 class="card-title">
          沙巴旅遊須知
        </h5>
        <p class="card-text">
         <span class="badge bg-secondary" *ngFor="let note of noteItems">
          {{note.name}}
         </span>
         
        </p>
       </div>
      </div>
      <!-- preparationData -->
      <div class="card">
       <div class="card-body">
        <h5 class="card-title">
          出發到沙巴前個人準備物品
        </h5>
        <p class="card-text">
         <span class="badge bg-secondary" *ngFor="let pre of preparationItems">
          {{pre.name}}
         </span>
         
        </p>
       </div>
      </div>
      <!-- langLearningData -->
      <div class="card">
       <div class="card-body">
        <h5 class="card-title">
          學學馬來西亞語
        </h5>
        <p class="card-text">
         <span class="badge bg-secondary" *ngFor="let lang of langlnItems">
          {{lang.name}}
         </span>
         
        </p>
       </div>
      </div>
      <!-- hotelData -->
      <div class="card">
       <div class="card-body">
        <h5 class="card-title">
          住宿
        </h5>
        <p class="card-text">
         <span class="badge bg-secondary" *ngFor="let hotel of hotelItems">
          {{hotel.name}}
         </span>
         
        </p>
       </div>
      </div>
      <!-- contact -->
      <div class="card">
       <div class="card-body">
        <h5 class="card-title">
         聯絡我們
        </h5>
        <p class="card-text">
          <img src="../../assets/whatsapp.png" alt="">
        </p>
        <p class="card-text">
         <img src="../../assets/line.png" alt="">
        </p>
       </div>
      </div>
     </div>
    </div>
   </div>
   <!--<router-outlet></router-outlet>-->
</div>
 



